.banner-item {
  display: flex;
  justify-content: center;
}

.home-banner-section {
  background-color: var(--white);
  padding-bottom: 12px;
  margin-bottom: 8px;
}

.banner-item-image{
  width: 100%; 
  height: 109px;
}

.t-carousel-slides {
  margin-left: 6.25%;
  width: 87.5%;
}

.t-carousel-item {
  display: flex;
  justify-content: center;
  margin-right: 8px;
}