.johnny-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal-button {
  border-radius: 0px;
}

.rounded-button {
  border-radius: 4px;
}

.pillow-button {
  border-radius: 20px;
}