.category-item-image-container {
  padding: 8px;
  border: 2px solid var(--gray10);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
}

.category-item-image {
  width: 47px;
  height: 47px;
}

.category-item-title {
  display: block;
  text-align: center;
}