.hunting-product-section-container {
  padding: 12px 16px;
  background-color: var(--white);
}

.hunting-product-scrollview {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  margin-left: -16px;
  margin-right: -16px;
  padding-right: 16px;
}

.hunting-product-scrollview::-webkit-scrollbar {
  display: none;
}