.sale-products-container {
  padding: 0 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.sale-products-scrollview {
  display: flex;
  flex-direction: row;
  margin-right: -12px;
}

.sale-products-scrollview::-webkit-scrollbar {
  display: none;
}