.sale-products-container {
  margin-bottom: 12px;
  margin-top: 12px;
}

.sale-products-scrollview {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.sale-products-scrollview::-webkit-scrollbar {
  display: none;
}